<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>

<body>
    <div class="header">
        <h1>{{header}}</h1>
    </div>
    <div class="menu">
        <ul class="menu_list">
            <li class="menu_list_el"><a class="menu_list_link" href="#">Главная страница</a></li>
            <li class="menu_list_el"><a class="menu_list_link" href="#">Одежда</a></li>
            <li class="menu_list_el"><a class="menu_list_link" href="#">Обувь</a></li>
            <li class="menu_list_el"><a class="menu_list_link" href="#">О нас</a></li>
            <li class="menu_list_el"><a class="menu_list_link" href="#">Контакты</a></li>
        </ul>
    </div>
    <div class="logout_block">
        <a href="{{ url_for('login') }}">Выйти</a>
    </div>
    <div class="hi_block">
        <p>Приветствуем, {{ user_name }}!</p>
    </div>
    <div class="content">{% block content %}{% endblock %}</div>
    <br>
    <div class="footer">
        <nav>
            <ul>
                <li><a href='#'>О нас</a></li>
                <li><a href='#'>Контакты</a></li>
                <li><a href='#'>Правила</a></li>
            </ul>
        </nav>
        <p>Телефон: +7 (123) 456-78-90</p>
        <p>Email: info@htmlacademy.ru</p>
    </div>
</body>

</html>