{% extends "index.html" %}

{% block content %}
<p>{{Subtitle}}</p>
<div class="catalog">
    <div class="row_grid">
        <div class="product-item">
            <a href="#"><img src="#" alt=""></a>
            <div class="down-content">
                <a href="#">
                    <h4>Tittle</h4>
                </a>
                <h6>price</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <span>Reviews</span>
            </div>
        </div>
        <div class="product-item">
            <a href="#"><img src="#" alt=""></a>
            <div class="down-content">
                <a href="#">
                    <h4>Tittle</h4>
                </a>
                <h6>price</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <span>Reviews</span>
            </div>
        </div>
        <div class="product-item">
            <a href="#"><img src="#" alt=""></a>
            <div class="down-content">
                <a href="#">
                    <h4>Tittle</h4>
                </a>
                <h6>price</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <span>Reviews</span>
            </div>
        </div>
        <div class="product-item">
            <a href="#"><img src="#" alt=""></a>
            <div class="down-content">
                <a href="#">
                    <h4>Tittle</h4>
                </a>
                <h6>price</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <span>Reviews</span>
            </div>
        </div>
        <div class="product-item">
            <a href="#"><img src="#" alt=""></a>
            <div class="down-content">
                <a href="#">
                    <h4>Tittle</h4>
                </a>
                <h6>price</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <span>Reviews</span>
            </div>
        </div>
        <div class="product-item">
            <a href="#"><img src="#" alt=""></a>
            <div class="down-content">
                <a href="#">
                    <h4>Tittle</h4>
                </a>
                <h6>price</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <span>Reviews</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}